---
import Logo from "./Logo.astro";
---

<header id="header">
  <Logo />
  <div class="intro font-geist">
    <p>
      Bienvenid@s! Soy <code>@alancampora</code> y esta es mi biblioteca de proyectos que
      voy construyendo cuando encuentro un rato! 
    </p>
  </div>
</header>

<style>
  header {
    margin: 1rem;
    text-align: center;
  }

  .intro {
    font-size: 1em;
    font-weight: 400;
    padding: 1rem;
  }

</style>
