---
import AppsGrid from "../components/AppsGrid.astro";
import Header from "../components/Header.astro";
---

<div>
  <Header />

  <main>
    <div id="projects">
      <AppsGrid />
    </div>
  </main>

  <footer></footer>
</div>

<style>
  .intro {
    text-align: center;
  }

  .logo {
    color: white;
  }

  .highlight-wrap {
    position: relative;
    display: inline-block;
    transform: rotate(-1deg);
  }

  .highlight-wrap span {
    position: relative;
    z-index: 1;
  }

  .highlight-wrap::before {
    border-radius: 0.15em;
    content: "";
    position: absolute;
    left: -0.5em;
    right: -0.5em;
    bottom: -0.2em;
    height: 4em;
    background-color: black;
    z-index: 0;
  }

  .header-container {
    text-align: center;
    padding: 1rem;
  }

  .intro {
    font-size: 1em;
    font-weight: 400;
  }

  main {
    height: 100%;
  }

  #intro {
    padding: 0.5rem;
  }

  @media screen and (max-height: 368px) {
  }

  @media screen and (max-width: 768px) {
  }
</style>
