name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build
        run: npm run build

      - name: Debug secrets
        run: |
          echo "Host is set: ${{ secrets.VPS_HOST != 'nada' }}"
          echo "User is set: ${{ secrets.VPS_USER != 'nada' }}"
          echo "Key is set: ${{ secrets.VPS_SSH_KEY != 'nada' }}"
      
      - name: Deploy to VPS
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avzr --delete
          path: dist/
          remote_path: /var/www/codeteca.dev/
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.VPS_SSH_KEY }}
